## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)

[62, 52, 42, 75, 60, 21, 84, 29, 23, 55, 5, 92, 70, 30, 77, 24, 3, 35, 59, 69, 44, 25, 88, 73, 38, 93, 50, 20, 18, 94, 14, 91, 81, 9, 54, 97, 27, 78, 85, 40, 56, 87, 71, 80, 39, 96, 61, 2, 4, 74, 49, 34, 43, 68, 95, 15, 1, 82, 36, 48, 99, 86, 65, 47, 57, 0, 66, 32, 89, 72, 45, 33, 46, 90, 22, 63, 11, 98, 51, 37]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
if len(set1) != 80:
    print("no, now the length is:", len(set1))
else:
    print("yes:", len(set1))

yes: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []
for e in set1:
    sample_list_2.append(random.randint(5,50))
print(sample_list_2)

[14, 18, 38, 38, 6, 50, 29, 8, 13, 34, 44, 40, 34, 47, 11, 32, 49, 14, 26, 13, 35, 8, 46, 44, 11, 34, 32, 20, 41, 47, 50, 30, 27, 18, 42, 46, 47, 39, 43, 33, 9, 38, 37, 11, 34, 45, 18, 25, 13, 38, 35, 18, 43, 28, 16, 27, 5, 13, 40, 11, 30, 19, 49, 37, 15, 22, 31, 44, 18, 8, 50, 40, 22, 10, 38, 17, 18, 7, 34, 24]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
if len(set2) == 80:
    print("yes its length is:", len(set2))
else:
    print("no its length is:", len(set2))

no its length is: 41

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = {i for i in set1 if not i in set2}
print(set3)

{0, 1, 2, 3, 4, 21, 23, 36, 48, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = {i for i in set2 if not i in set1}
print(set4)

{6, 7, 8, 41, 10, 13, 16, 17, 19, 26, 28, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = {i for i in set1 if i in set2}
print(set5)

{5, 9, 11, 14, 15, 18, 20, 22, 24, 25, 27, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
if len(set5) == len(set1)-(len(set3)):
    print("set5 is set1 minus set3")
if len(set5) == len(set2)-(len(set4)):
    print("set5 is also set2 minus set4")

set5 is set1 minus set3
set5 is also set2 minus set4

#### Create an empty set called `set6`.

In [14]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 9, 11, 14, 15, 18, 20, 21, 22, 23, 24, 25, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [16]:
# Your code here
if set1 == set6:
    print("yes, they are equal")
else:
    print("no, they are not equal")

yes, they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
# Your code here
if set2.issubset(set1):
    print("set2 is contained in set1")
else:
    print("set2 is not contained in set1")
    
if set3.issubset(set1):
    print("set3 is contained in set1")
else:
    print("set3 is not contained in set1")

set2 is not contained in set1
set3 is contained in set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
if set3.union(set4, set5) == set3.union(set1, set2):
    print("the unions are equal")
else:
    print("the unions are different")

the unions are equal

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print({i for i in set1 if not i in list_to_remove})

{2, 3, 4, 5, 14, 15, 18, 20, 22, 23, 24, 25, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 60, 62, 63, 65, 66, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}